@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    /** Cores Primárias **/

    --Azul-claro: hsl(225, 100%, 94%);
    --Azul-brilhante: hsl(245, 75%, 52%);

    /** Cores Neutras **/

    --Azul-muito-claro: hsl(225, 100%, 98%);
    --Azul-dessataurado: hsl(224, 23%, 55%);
    --Azul-escuro: hsl(223, 47%, 23%);
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
}
.imagem{
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.contenier{
    width: 400px;
    height: 600px;
    background-color: var(--Azul-muito-claro);
    border-radius: 20px;
    
}
.conteudo{
   padding: 45px;
}
h1{
    font-weight: 900;
}
strong{
    color: black;
    font-weight: 900;
}
p{
    margin: 20px 0px;
    font-size: 16px;
    font-weight: 500;
    color: var(--Azul-dessataurado);
}
a:hover{
    text-decoration: none;
    color: var(--Azul-dessataurado);

}
.musica{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--Azul-claro);
    border-radius: 15px;

}
.button{
    background-color: var(--Azul-brilhante);
    margin: 20px 0px;
    padding: 10px 50px;
    border-radius: 10px;
    font-weight: 900;
}
.button a{
    color: aliceblue;
    text-decoration: none;
    
}
.button:hover{
    cursor: pointer;
    background-color: var(--Azul-dessataurado);
   
}
.cancel{
    text-decoration: none;
}
.cancel:hover{
    color:var(--Azul-escuro);
}

@media screen and (max-width:375px) {

body{
    background-image: url(images/pattern-background-mobile.svg);
}
    
}